/* Style for Trivia Game */

html, body {
    /* font-family: Georgia, 'Times New Roman', Times, sans-serif; */
    background-color: rgb(67, 9, 94);
    /* background-image: url("../images/background.jpg"); */
    /* height: 100%; */
    /* margin: 10 px; */
    /* border-style: none; */
    /* border: none; */
}


.jumbotron {
    background-color: blue;
    color: white;
    /* margin-left: 50 px; */
    /* margin-right:  50 px; */
}